body{
	overflow-x: hidden;
}
.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.w-100{
	width: 100%;
}

.row-box {
  display: flex;
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}
.relative{
	position: relative;
}
.relative h3{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.36);
    color: #fff;
    margin: 0;
    padding: 0;
    align-content: center;
    display: none;
}
.relative h3 span{
	margin-top: 30%;
}
.relative:hover h3{
	display: flex;
}
.bg-img{
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 320px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 991px) {
  .col-4 {
    flex: 0 0 50%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
}

@media only screen and (max-width: 768px) {
  .row-box{
        flex-wrap: wrap;
  }
.col-4 {
	  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

}
